Repository telekom/controlplane, pull requests merged in 2025-07, with the labels that each got.

#78 feat(externalIDP): add external idp feature to api, gateway, rover
  api/api/v1/apiexposure_types.go
  api/api/v1/apiexposure_types_test.go
  api/api/v1/apisubscription_types.go
  api/api/v1/apisubscription_types_test.go
  api/api/v1/remoteapisubscription_types.go
  api/api/v1/remoteapisubscription_types_test.go
  api/api/v1/security_types.go
  api/api/v1/zz_generated.deepcopy.go
  api/config/crd/bases/api.cp.ei.telekom.de_apiexposures.yaml
  api/internal/controller/apiexposure_controller_test.go
  api/internal/controller/apisubscription_controller_test.go
  api/internal/handler/apiexposure/handler.go
  api/internal/handler/apisubscription/handler.go
  api/internal/handler/remoteapisubscription/syncer/syncer.go
  gateway/api/v1/consumeroute_types.go
  gateway/api/v1/route_types.go
  gateway/api/v1/security_types.go
  gateway/api/v1/zz_generated.deepcopy.go
  gateway/config/crd/bases/gateway.cp.ei.telekom.de_routes.yaml
  gateway/internal/controller/route_controller_test.go
  gateway/internal/features/builder_external_idp_test.go
  gateway/internal/features/builder_test.go
  gateway/internal/features/feature/external_idp.go
  gateway/internal/features/feature/external_idp_test.go
  gateway/internal/handler/route/handler.go
  gateway/pkg/kong/client/plugin/jumper.go
  install/local/kustomization.yaml
  rover/api/v1/rover_types.go
  rover/config/crd/bases/rover.cp.ei.telekom.de_rovers.yaml
  rover/internal/controller/rover_controller_test.go
  rover/internal/handler/rover/api/exposure.go
  rover/internal/handler/rover/api/subscription.go
  rover/internal/handler/rover/api/util.go
Labels: go, gateway, api, rover

#67 ci(tools): added route-tester tool
  install/local/kustomization.yaml
  tools/route-tester/README.md
  tools/route-tester/go.mod
  tools/route-tester/go.sum
  tools/route-tester/go.sum.license
  tools/route-tester/main.go
Labels: enhancement, go, gateway

#81 feat(secret-manager): add cache metrics for cache hits and misses
  secret-manager/cmd/server/server.go
  secret-manager/go.mod
  secret-manager/pkg/backend/cache/backend.go
  secret-manager/pkg/backend/cache/backend_test.go
  secret-manager/pkg/backend/cache/metrics/metrics.go
  secret-manager/pkg/backend/cache/metrics/metrics_test.go
  secret-manager/pkg/backend/cache/metrics/suite_test.go
  secret-manager/pkg/backend/conjur/bouncer/metrics.go
Labels: go, secret-manager

#90 feat(common): add configuration options for reconciler with spf13/viper for envs
  admin/go.mod
  admin/go.sum
  admin/internal/controller/environment_controller.go
  admin/internal/controller/remoteorganization_controller.go
  admin/internal/controller/zone_controller.go
  api/api/go.mod
  api/api/go.sum
  api/go.mod
  api/go.sum
  api/internal/controller/api_controller.go
  api/internal/controller/apiexposure_controller.go
  api/internal/controller/apisubscription_controller.go
  api/internal/controller/remoteapisubscription_controller.go
  application/go.mod
  application/go.sum
  application/internal/controller/application_controller.go
  approval/api/go.mod
  approval/api/go.sum
  approval/go.mod
  approval/go.sum
  approval/internal/controller/approval_controller.go
  approval/internal/controller/approvalrequest_controller.go
  common/README.md
  common/go.mod
  common/go.sum
  common/pkg/config/config.go
  common/pkg/config/env_test.go
  common/pkg/controller/controller.go
  gateway/go.mod
  gateway/go.sum
  gateway/internal/controller/consumer_controller.go
  gateway/internal/controller/consumeroute_controller.go
  gateway/internal/controller/gateway_controller.go
  gateway/internal/controller/realm_controller.go
  gateway/internal/controller/route_controller.go
  identity/go.mod
  identity/go.sum
  identity/internal/controller/client_controller.go
  identity/internal/controller/identityprovider_controller.go
  identity/internal/controller/realm_controller.go
  organization/go.mod
  organization/go.sum
  rover/go.mod
  rover/go.sum
  rover/internal/controller/apispecification_controller.go
  rover/internal/controller/rover_controller.go
  rover/internal/handler/rover/application/application.go
Labels: go, common
